body {
  margin: auto;
  max-width: 50em;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(0, 0, 0);
}

.header {
  background-color: rgb(111, 103, 86);
  color: rgb(0, 0, 0);
  padding: 1em;
  margin: 0.5em 0;
  text-align: center;
}

.nav_bar {
  background-color: rgb(152, 149, 149);
  padding: 0.5em;
  margin: 0.5em 0;
}

.nav_bar ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav_bar li {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}
.nav_bar a {
  text-decoration: none;
  color: rgb(223, 42, 255);
  font-weight: bold;
}

.nav_bar a:hover {
  color: rgb(0, 0, 0);
}

.logged_in {
  background-color: rgb(223, 42, 255);
  color: rgb(0, 0, 0);
  padding: 0.5em 1em;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  margin: 0.5em 0;
}

.images_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4em;
  margin: 1.5em 0;
}

.images_container img {
  width: 220px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.content {
  background-color: rgb(111, 103, 86);
  padding: 1em;
  margin: 0.5em 0;
  padding-bottom: 4em;
}

.item {
  border: 2px solid rgb(238, 184, 205);
  background-color: bisque;
  margin: 1em;
  padding: 0.2em 0.5em;
}

.title {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 0.5em;
}

.ingredients {
  background-color: rgb(126, 118, 98);
  color: #000000;
  padding: 0.5em;
  border-radius: 12px;
  margin: 1em 0;
  line-height: 1.5;
}

.ingredients li {
  margin: 1.5em;
}

.recipe {
  background-color: rgb(126, 118, 98);
  color: #000000;
  padding: 0.5em;
  border-radius: 5px;
  margin: 1em 0;
}

.comment {
  background-color: rgb(90, 85, 75);
  color: #fff;
  padding: 1em;
  border-radius: 10px;
  margin: 1em 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.comment_header {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.commen_header a {
  color: rgb(223, 42, 255);
  text-decoration: none;
}

.comment_body {
  margin: 0.5em 0 1em 0;
  line-height: 1.5;
}

.comment_form {
  text-align: right;
}

.button {
  background-color: rgb(223, 42, 255);
  color: #000;
  padding: 0.5em 1em;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.text_area {
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
  resize: none;
  margin-bottom: 0.8em;
}

.flash {
  padding: 0.5em 1em;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
}

.flash.success {
  background-color: rgb(126, 255, 180);
  color: rgb(0, 60, 0);
  border: 2px solid rgb(0, 90, 0);
}

.flash.error {
  background-color: rgb(255, 130, 130);
  color: rgb(60, 0, 0);
  border: 2px solid rgb(100, 0, 0);
}