body {
  margin: auto;
  max-width: 50em;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(169, 154, 221);
}

.item {
  border: 2px solid black;
  margin: 1em;
  padding: 0.2em 0.5em;
}