{% extends "layout.html" %}

{% block title %}Reseptin poisto{% endblock %}

{% block content %}
<h2>Reseptin kuvat (max. 3kpl)</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<form action="/remove_images" method="post">
  <div class="images_container">
    {% for image in images %}
      <img src="/image/{{ image.id }}" alt="Ilmoituksen kuva" />
      <input type="checkbox" name = "image_id" value="{{ image.id }}">
    {% endfor %}
  </div>
  <input type="hidden" name="item_id" value="{{ item.id }}">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <p>
    <input type="submit" value="Poista valitut" class="button"/>
  </p>
</form>

<h3>Lisää uusi kuva</h3>
<form action="/add_image" method="post" enctype="multipart/form-data">
  <p>
    Kuva: <input type="file" name="image" accept=".jpg" />
  </p>
  <input type="hidden" name="item_id" value="{{ item.id }}">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lähetä" class="button"/>
</form>
{% endblock %}