<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Drinkkireseptit</h1>
  </div>

  {% if session.username %}
  <p class="logged_in">
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}

  <nav class="nav_bar">
    <ul>
      <li><a href="/">Etusivu</a></li> |
      <li><a href="/find_item">Etsi resepti</a></li> |
      {% if session.user_id %}
      <li><a href="/new_item">Uusi resepti</a></li> |
      <li><a href="/logout">Kirjaudu ulos</a></li>
      {% else %}
      <li><a href="/login">Kirjaudu sisään</a></li> |
      <li><a href="/register">Luo tunnus</a></li>
      {% endif %}
    </ul>
  </nav>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>