<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
</head>

<body>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" maxlength="15" required />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" maxlength="15" required/>
    </p>
    <input type="submit" value="Kirjaudu" maxlength="15" required/>
  </form>
  {% endif %}
</body>

</html>
