{% extends "layout.html" %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block content %}

<h2>Kirjaudu sisään</h2>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

<form action="/login" method="post">
  <p>
    Tunnus: <br />
    <input type="text" name="username" maxlength="15" required />
  </p>
  <p>
    Salasana: <br />
    <input type="password" name="password" maxlength="15" required/>
  </p>
  <input type="submit" value="Kirjaudu" />
</form>
{% endblock %}