<!DOCTYPE html>
<html>

<head>
  <title>Uusi resepti</title>
</head>

<body>
  <h1>Uusi resepti</h1>
  <form action="/create_item" method="post">
    <p>
      Nimi: <br />
      <input type="text" name="title" maxlength="55" required/>
    </p>
    <p>
      Ainekset: <br />
      <textarea name="ingredients" rows="8" cols="40" maxlength="1000" required></textarea>
    </p>
    <p>
      Valmistusohje: <br />
      <textarea name="recipe" rows="8" cols="40" required></textarea>
    </p>
    {% for class in classes %}
    <p>
      {{ class }}: <br>
      <select name="classes">
        <option value="">valitse</option>
      {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endfor %}
      </select>
    </p>
    {% endfor %}
    <input type="submit" value="Lisää resepti" />
  </form>
</body>

</html>