{% extends "layout.html" %}

{% block title %}Uusi resepti{% endblock %}

{% block content %}
<h2>Uusi resepti</h2>
<form action="/create_item" method="post">
  <p>
    <label for="title">Nimi:</label> <br />
    <input type="text" name="title" id ="title" maxlength="55" required/>
  </p>
  <p>
    <label for="ingredients">Ainekset:</label> <br />
    <textarea name="ingredients" id ="ingredients" rows="8" cols="40" maxlength="1000" required></textarea>
  </p>
  <p>
    <label for="recipe">Valmistusohje:</label> <br />
    <textarea name="recipe" id ="recipe" rows="8" cols="40" maxlength="1200" placeholder="max. 1200 merkkiä"></textarea>
  </p>
  {% for class_title, options in all_classes.items() %}
  <p>
    <label for="{{ class_title }}">{{ class_title }}:</label> <br />
    <select name="classes" id="{{ class_title }}" >
      <option value="">valitse</option>
    {% for option in options %}
      <option value="{{ class_title }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lisää resepti" class="button"/>
</form>
{% endblock %}