{% extends "layout.html" %}

{% block title %}Luo tunnus{% endblock %}

{% block content %}
<h2>Luo tunnus</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash {{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<form action="/create" method="post">
  <p>
    <label for="username">Tunnus:</label> <br />
    <input type="text" name="username" id="username" value="{{ username|default('') }}" maxlength="15" required />
  </p>
  <p>
    <label for="password1">Salasana:</label> <br />
    <input type="password" name="password1" id="password1" maxlength="15" required />
  </p>
  <p>
    <label for="password2">Salasana uudestaan:</label> <br />
    <input type="password" name="password2" id="password2" maxlength="15" required />
  </p>
  <input type="submit" value="Luo tunnus" class="button"/>
</form>
{% endblock %}