<!DOCTYPE html>
<html>

<head>
  <title>{{ item.title }}</title>
</head>

<body>
  <h1>{{ item.title }}</h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% if session.user_id == item.user_id %}
  <p>
    <a href="/edit_item/{{ item.id }}">Muokkaa</a>
    <a href="/remove_item/{{ item.id }}">Poista</a>
    <a href="/images/{{ item.id }}">Lisää kuva</a>
  </p>
  {% endif %}
  {% for image in images %}
  <img src="/image/{{ image.id }}" />
  {% endfor %}

  <p>Ainekset:</p>
  <ul>
    {% for line in item.ingredients.split('\n') %}
        {% if line.strip() %}
            <li>{{ line }}</li>
        {% endif %}
    {% endfor %}
  </ul>
  <p>Valmistus:</p>
  <p>
    {{ item.recipe }}
  </p>
  <p>
    Julkaisija: <a href="/user/{{ item.user_id }}">{{ item.username }}</a>
  </p>
  {% if classes %}
  <p>
    Kategoriat:
    <ul>
      {% for class in classes %}
      <li>{{ class.title }}: {{ class.value }}</li>
      {% endfor %}
    </ul>
  </p>
  {% endif %}
  <h2>Kommentit</h2>
  {% for c in comments %}
  <article>
    <header>
      <a href="/user/{{ c.user_id }}">{{ c.username }}</a>
    </header>
    <p>
      {{ c.comment }}
    </p>
    {% if session.user_id == c.user_id %}
      <form action="/remove_comment/{{ c.id }}" method="post">
        <input type="submit" value="Poista kommentti">
      </form>
    {% endif %}
  </article>
  {% endfor %}
  <h3>Uusi kommentti</h3>
  <form action="/create_comment" method="post">
    Kommentti: <br>
    <textarea name="comment" rows="5" cols="30" maxlength="500">max. 500 merkkiä</textarea><br>
    <input type="hidden" name="item_id" value="{{ item.id }}" >
    <input type="submit" value="Julkaise" />
  </form>
  <h3> Arvostelut</h3>
  <p>Keskiarvo: {{ average_ra or "Ei arvosteluja" }}</p>

  {% if user_rating %}
    <p>Olet antanut arvosanan: {{ user_rating.score }}</p>
    <form action="/remove_rating/{{ item.id }}" method="post">
      <input type="submit" value="Poista arvosteluni">
    </form>
  {% else %}
  <form action="/rate_item/{{ item.id }}" method="post">
    <label>
      Arvostele resepti(1-5):
      <input type="number" name="score" min="1" max="5" required>
      <input type="hidden" name="item_id" value="{{ item.id }}" >
    </label>
    <input type="submit" value="Julkaise">
  </form>
  {% endif %}
  <p>
    <a href="/">Takaisin</a>
  </p>
</body>

</html>